<% if current_user.id == @user.id %>

  <%= render partial: 'shared/user_form',
    locals: { user: @user, title: @title } %>

<% else %>

  <h2>You are not authorized to access this page</h2>

<% end %>