<div class='container'><br><br>

  <div class='row'>
    <div class='col-md-3 text-right'>
      <%= link_to 'Signup', signup_path, class: "btn btn-lg btn-primary" %>
    </div>
    <div class='col-md-9 text-left'>
      <%= link_to 'Login', login_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>

</div>



